.post {
    padding-top: 2em;

    .media(@medium, {
        padding-top: 0;
    });
}

.post-body {
    p {
        padding: 1em 0 0;

        &:last-child {
            padding-bottom: 1em;
        }
    }
}