.pretty-spacing {
    margin: 1em 0 0;

    &:last-child {
        margin-bottom: 1em;
    }
}

.post-list {
    li {
        list-style: none;

        .pretty-spacing;
    }
}

.post {
    h1 {
        border-bottom: none;
    }
}

.post-content {
    p {
        .pretty-spacing;
    }
}