---
layout: page
---
<h2>Description</h2>
<p class="description">{{ page.description }}</p>
<span class="toggle closed">
    <a href="#">options</a>
</span>
<ul class="github-options unorthodox-list">
  <li>
    <a class="btn" href="https://github.com/{{ site.github-handle }}/{{ page.repo-name }}" target="_blank">View on GitHub</a>
  </li>
  <li>
    <a class="btn" href="https://github.com/{{ site.github-handle }}/{{ page.repo-name }}/zipball/master" target="_blank">Download .zip</a>
  </li>
  <li>
    <a class="btn" href="https://github.com/{{ site.github-handle }}/{{ page.repo-name }}/tarball/master" target="_blank">Download .tar.gz</a>
  </li>
</ul>

{{ content }}
